{% load i18n %}
{% load staticfiles %}

{% load zinnia %}

<div class="col s12 m6 l4">
                <div class="card hoverable">
                  <div class="card-image"> 
                    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                    <img class="responsive-img" src="{{ object.image.url }}" alt="{{ object.image_caption|default:object.title }}" itemprop="contentUrl" />
                    </a>
                    <span class="card-contents-caption"><strong>{{ object.title }}</strong></span>
                  </div>

                  <div class="card-content-readmore">
                      {% block entry-word-count %}
                      <meta itemprop="wordCount" content="{{ object.word_count }}" />
                      {% endblock entry-word-count %}

                      {% block entry-content %}
                        {{ object_content|safe }}
                      {% endblock entry-content %}


                    {% block continue-reading %}
                      {% if continue_reading and object_content.has_more %}
                        <p>
                          <p href="{{ object.get_absolute_url }}"
                            title="{% blocktrans with object=object.title percent=object_content.remaining_percent|floatformat:0 %}{{ percent }}% of {{ object }} still remains to read.{% endblocktrans %}"
                            rel="bookmark" itemprop="url">
                      {% trans "Seguir leyendo.." %}
                          </p>
                        </p>
                      {% endif %}
                    {% endblock continue-reading %}
                  </div>

                  <div class="card-contents-dsection">
                    <img class="icons-sharecal" src="{% static "zinnia/theme/icons/icon-calendar.png" %}">
                      <a class="card-contents-section a">{{ object.publication_date|date:"DATE_FORMAT" }}</a>
                  </div>
                </div>
  </div>
