{% load i18n %}
<ul class="{% if not categories %}no-{% endif %}categories">
<li class="disabled"><strong><a href="{% url 'zinnia:entry_archive_index' %}"><i class="material-icons left">view_module</i>Secciones:</a></strong></li>
  {% for category in categories %}
  <li{% if category.slug == context_category.slug %} class="current"{% endif %}>
    <a href="{{ category.get_absolute_url }}"
       title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}">{{ category }}<i class="material-icons left">{{ category.icon }}</i></a>
  </li>
  {% empty %}
  <li>
    {% trans "No categories yet." %}
  </li>
  {% endfor %}
</ul>

