{% load i18n %}
<div class="slider {% if not entries %}no-{% endif %}entries-featured">
	<ul class="slides">
  		{% for entry in entries %}
  		<li>
  			<a class="carousel-item" href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">
      		<img class="responsive-img" src="{{ entry.image.url }}" itemprop="contentUrl" />
      		</a>
      		<div class="caption center-align" href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">
        		<h4>{{ entry.title }}</h4>
        	</div>
      </li>
  {% endfor %}
  </ul>
  </div>

