{% load i18n %}
{% load staticfiles %}

  {% for entry in entries %}


  <div class="col s12 m4 l4">
  <div class="card-image items-similar"> 
                    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">
                    <img class="responsive-img" src="{{ entry.image.url }}" alt="{{ entry.image_caption|default:entry.title }}" itemprop="contentUrl" />
                    </a>
                    <span class="card-contents-caption"><strong>{{ entry.title }}</strong></span>
                  </div>
                </div>

  {% endfor %}

  