{% load i18n %}
<div class="center col s12 m12 l12">

    
    {% if page.has_previous %}

      <a class="waves-effect waves-light btn-large" href="?page={{ page.previous_page_number }}{{ GET_string }}"
         title="{% trans "More recent entries" %}"><i class="material-icons left">skip_previous</i>Atras</a>

    {% endif %}

    {% if page.has_next %}
      <a class="waves-effect waves-light btn-large" href="?page={{ page.next_page_number }}{{ GET_string }}"
         title="{% trans "More old entries" %}"><i class="material-icons right">add</i>Mas</a>
    {% endif %}


</div>