{% load i18n %}
{% load staticfiles %}
<div id="modal-search" class="modal">
    <div class="modal-content">
		<form method="get" id="searchform" action="{% url 'zinnia:entry_search' %}">
  			<div class="row">
  				<div class="col s12 m12 l12 input-field">
  				<div class="row">
  			   		<i class="material-icons prefix">search</i>
			   		  <input class="validate" style="color: #000000" type="text" name="pattern" id="icon_prefix" placeholder="{% trans "Buscar....." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
          </div>
				</div>

				<div class="col s12 m12 l12">
			   		<button type="submit" class="submitbutton btn waves-effect waves-light" value="OK">OK</button>
			   	</div>

			   <div class="col s12 m12 l12">
			 
          			<div class="card">
            			<div class="card-content">
              				<h5 style="color: #414141; text-align: justify; font-size: 15px;">Usted puede utilizar (-) para excluir palabras o frases, &quot;Comillas dobles&quot; para frases o palabras mas especificas y los operadores AND/OR combinados con parentesis para busquedas mas complejas.</h5>
            		</div>
    				</div>
    				</div>
  				</div>
		</form>
	</div>
</div>